<div class="partCategory w-25  p-4 ">
    <div class="boxPartCategory border-1 rounded-2 w-100 shadow-lg h-100 p-0">
        <h2 class="p-3 borderBottomm">  Filter by price</h2>
        <div class="d-flex justify-content-between p-2">
            <h6 class="text-success">From $500</h6>  
            <h6 class="text-success"> To $1000</h6>
        </div>
        <div class="container">
            <p>Color</p>
            <div class="d-flex flex-column">
                <div class="d-flex mb-3 ">
                    <input type="checkbox" name="red" id="" value="Red"> <span class="px-2">Red (45)</span>
                </div>
                <div class="d-flex mb-3">
                    <input type="checkbox" name="blue" id="blue" value="blue"> <span class="px-2">Blue (95)</span>
                </div>
                <div class="d-flex mb-4 ">
                    <input type="checkbox" name="green" id="green" value="green"> <span class="px-2">Green (25)</span>
                </div>
            </div>
        </div>
        <div class="container mb-3">
            <p>Item Condition</p>
            <div class="d-flex flex-column">
                <div class="d-flex mb-3 ">
                    <input type="checkbox" name="red" id="" value="Red"> <span class="px-2">New (45)</span>
                </div>
                <div class="d-flex mb-3">
                    <input type="checkbox" name="blue" id="blue" value="blue"> <span class="px-2">Used (95)</span>
                </div>
                <div class="d-flex ">
                    <input type="checkbox" name="green" id="green" value="green"> <span class="px-2">Refurshied (25)</span>
                </div>
            </div>
        </div>
      <div class="d-flex align-items-center justify-content-lg-around ">
        <button class="btn btn-success text-light">
            <i class="fa fa-filter"></i> Filter
        </button>
        <img src="{% static "apps/asset/image/th.jpg" %}" class='w-50 h-50' alt="">
      </div>
      
    </div>
    <div class="boxPartCategory border-1 rounded-2 w-100 shadow-lg h-100 p-0 ">
        <h2 class="p-3 borderBottomm mt-5 mb-3">Category</h2>
        <div class="d-flex  flex-column ">
            <div class="d-flex align-items-center justify-content-between mb-4 ">
                <a href="#" class="px-2 mx-5 mb-2 text-decoration-none text-black h5 displayBorderCategory">
                    <i class="fa fa-mug-hot"></i>  Breakfast & Food 
                </a>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3 mb-4 ">
                <a href="#" class="px-2 mx-5 text-decoration-none text-black h5 displayBorderCategory">
                    <i class="fa fa-drumstick-bite"></i>  Fresh Meat 
                </a>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3 mb-4 ">
                <a href="#" class="px-2 mx-5 text-decoration-none text-black h5 displayBorderCategory">
                    <i class="fa fa-gamepad"></i>  Game  
                </a>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3 mb-4 ">
                <a href="#" class="px-2 mx-5 text-decoration-none text-black h5 displayBorderCategory">
                    <i class="fa fa-computer"></i> Electronic machin
                </a>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3 mb-4 ">
                <a href="#" class="px-2 mx-5 text-decoration-none text-black h5 displayBorderCategory">
                    <i class="fa fa-wrench"></i> Outils mecanic
                </a>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3 mb-4 ">
                <a href="#" class="px-2 mx-5 text-decoration-none text-black h5 displayBorderCategory">
                    <i class="fa fa-wine-bottle"></i> Vine & Juice
                </a>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3 mb-4 ">
                <a href="#" class="px-2 mx-5 text-decoration-none text-black h5 displayBorderCategory">
                    <i class="fa fa-computer"></i> Electronic machin
                </a>
            </div>
        </div>
       
      
    </div>
    <div class=" container boxPartCategory border-1 rounded-2 w-100 shadow-lg h-7 p-0 ">
        <h2 class="p-3 borderBottomm mt-5 mb-3">New Products</h2>
        <div class="d-flex  flex-column w-100 ">
            <div class="d-flex align-items-center mb-4 justify-content-evenly ">
                <div class="imageNewProducts w-50">
                    <img src="{% static 'apps/asset/image/téléchargement (1).jpg' %}" class="rounded-2 w-75 h-75 mx-2" alt="">
                </div>
                <div class="d-flex flex-column w-50">
                    <div class="title">
                        <h4 class="text-success">Juice Orange</h4>
                    </div>
                    <div class="price">
                        <h6>$800</h6>
                    </div>
                    <div class="star">
                        <h6>⭐⭐</h6>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center mb-4 justify-content-evenly ">
                <div class="imageNewProducts w-50">
                    <img src="{% static 'apps/asset/image/téléchargement (7).jpg' %}" class="rounded-2 w-75 h-75 mx-2" alt="">
                </div>
                <div class="d-flex flex-column w-50">
                    <div class="title">
                        <h5 class="text-success">Iphone 13 Pro max </h5>
                    </div>
                    <div class="price">
                        <h6>$1900</h6>
                    </div>
                    <div class="star">
                        <h6>⭐⭐⭐⭐</h6>
                    </div>
                </div>
            </div>
           
        </div>
       
      
    </div>
</div>